# Node
node_modules/
.next/
out/
npm-debug.log*

# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/

# Env / secrets
.env
.env.local
.env.*.local

# OS / editor
Thumbs.db
.DS_Store
.vscode/
.idea/